mixin social()

  +b('social', {}, 'div')
    +e('link', {}, 'a')(href='#')
      +svg('fb', '20', '20')
    +e('link', {}, 'a')(href='#')  
      +svg('be', '20', '20')
    +e('link', {}, 'a')(href='#')  
      +svg('tw', '20', '20')
