include slider.data.pug
mixin slider()

  +b('slider')
    +e('title', {}, 'h3') TESTIMONIALS
    +e('text', {}, 'p') Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.
    +e('wrap slick-slider')
      for item in items
        +e('item')
          +e('item-text', {}, 'p')= item.text
          +e('container')
            +e('img', {}, 'img')(src=item.avatar)
            +e('text-block')
              +e('span', {}, 'span')= name
              +e('span', {}, 'span')= company
          
