-
  var sliders = [
    {
      'text': 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.',
      'avatar': '../img/sprite-svg.svg#avatar',
      'name': 'Mr.Herp',
      'company': 'CEO of Meme, Inc.'
    },
    {
      'text': 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.',
      'avatar': '../img/sprite-svg.svg#avatar',
      'name': 'Mr.Herp2',
      'company': 'CEO of Meme, Inc.'
    },
    {
      'text': 'Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.',
      'avatar': '../img/sprite-svg.svg#avatar',
      'name': 'Mr.Herp3',
      'company': 'CEO of Meme, Inc.'
    }
  ];
