-
  var sliders = [
    {
      'text': '“Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!”',
      'avatar': 'img/avatar.png',
      'name': 'Mr.Herp',
      'company': 'CEO of Meme, Inc.'
    },
    {
      'text': '“Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!”',
      'avatar': 'img/avatar.png',
      'name': 'Mr.Herp2',
      'company': 'CEO of Meme, Inc.'
    },
    {
      'text': '“Awalnya saya tidak menderita penyakit apapun, namun setelah saya tidak berobat ke klinik tongfang, saya dinyatakan tidak menderita penyakit apapun!”',
      'avatar': 'img/avatar.png',
      'name': 'Mr.Herp3',
      'company': 'CEO of Meme, Inc.'
    }
  ];
