.btn {
  padding: rem(12) rem(27);
  font-family: $font-family-2;
  font-size: rem(22);
  font-weight: 400;
  text-align: center;
  background-color: $btn-bg;
  border-radius: 30px;
  transition: $default-transition;

  &:hover {
    color: $link-color;
    letter-spacing: .1em;
    background-color: $btn-bg;
  }

  &:active,  &:focus {
    color: $link-color;
    background-color: $btn-bg;
    opacity: .7;
  }

  &--scroll {
    padding: rem(5) rem(10);
    font-size: rem(16);
    background-color: rgba(255, 255, 255, .8);

    &:hover {
      font-size: rem(16);
      color: #111;
      letter-spacing: 0;
      background-color: rgba(255, 255, 255, .6);

      .bottom {
        margin-left: rem(10);
        fill: $link-color--hover;
        transition: $default-transition;
      }
    }

    &:active, &:focus {
      font-size: rem(16);
      color: #111;
      letter-spacing: 0;
      background-color: rgba(255, 255, 255, .8);
      opacity: .7;
    }

    .bottom {
      margin-left: rem(10);
      fill: $link-color;
      transition: $default-transition;
    }
  }

  &--whatwedo {
    padding: rem(5) rem(20);
    font-size: rem(16);
    font-weight: 700;
  }

  &--catalog {
    position: relative;
    padding: rem(8) rem(18);
    padding-right: rem(40);
    font-size: rem(18);
    line-height: 24px;
    background-color: #2b9b2b;
    border-left: 30px;

    .bottom {
      position: absolute;
      top: rem(10);
      right: rem(17);
      height: 18px;
      fill: $white;
      transform: rotate(-90deg);
      transition: $default-transition;
    }

    &:hover {
      background-color: #2b9b2b;

      .bottom {
        transform: rotate(90deg);
        transition: $default-transition;
      }
    }
  }

  &--clients {
    position: relative;
    margin: 0 auto;
    padding: rem(8) rem(18);
    padding-right: rem(40);
    font-family: $font-family--custom-1;
    font-size: rem(18);
    color: #a59d9d;
    line-height: 24px;
    background-color: #dddcdc;
    border-left: 30px;

    .bottom {
      position: absolute;
      top: rem(10);
      right: rem(17);
      height: 18px;
      fill: $text-color;
      transform: rotate(-90deg);
      transition: $default-transition;
    }

    &:hover {
      background-color: #dddcdc;

      .bottom {
        fill: #fff;
        transform: rotate(90deg);
        transition: $default-transition;
      }
    }
  }
}
