- 
  var team = [
    {
      "name": "Krisna Wijaya",
      "src": "img/dev-1.png"
    },
    {
      "name": "Gabriel Yoshua",
      "src": "img/dev-2.png"
    },
    {
      "name": "Adik N.K.L",
      "src": "img/dev-3.png"
    },
    {
      "name": "Zan D.J",
      "src": "img/dev-4.png"
    },
    {
      "name": "Faizal Febri",
      "src": "img/dev-5.png"
    }
  ];
