-
  var items = [
    {
      "src": "img/work-1.jpg",
      "cat": "cat-1"
    },
    {
      "src": "img/work-2.jpg",
      "cat": "cat-2"
    },
    {
      "src": "img/work-3.jpg",
      "cat": "cat-3"
    },
    {
      "src": "img/work-4.jpg",
      "cat": "cat-1"
    },
    {
      "src": "img/work-5.jpg",
      "cat": "cat-2"
    },
    {
      "src": "img/work-6.jpg",
      "cat": "cat-3"
    },
    {
      "src": "img/work-7.jpg",
      "cat": "cat-1"
    },
    {
      "src": "img/work-8.jpg",
      "cat": "cat-2"
    },
    {
      "src": "img/work-9.jpg",
      "cat": "cat-3"
    },
    {
      "src": "img/work-10.jpg",
      "cat": "cat-1"
    }
  ];
