// Базовые цвета https://colorscheme.ru/color-converter.html

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 10%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 50%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 80%);
$gray-lightest:               hsl(0, 0%, 90%);
$white:                       hsl(0, 0%, 100%);

$color-main:                  hsl(208, 98%, 43%);
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

// Семантические цвета

$text-color:                  #828181;
$body-bg:                     #fff;

$link-color:                  #fff;
$link-color--hover:           #54d154;

$btn-bg:                       #54d154;

$border-color:                $gray-light;

// Базовая типографика

$font-size--root:             15;
$font-size:                   rem(15);

$line-height:                 1.5;

$font-family--custom-1:         'Montserrat';
$font-family--custom-2:         'ProximaNova';
$font-family-1:                 $font-family--custom-1, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-2:                 $font-family--custom-2, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
//$font-family--serif:          'Georgia', 'Times New Roman', 'Times', serif;
//$font-family--monospace:      SFMono-Regular, 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
//$font-family--headings:       $font-family;

// Ширины

$max-width:                   1920px;
$min-width:                   320px;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;
$screen-xxl:                  1800px;

$container-sm:                100%;
$container-md:                100%;
$container-lg:                $screen-lg - 30;
$container-xl:                $screen-xl - 30;
$container-xxl:               $screen-xxl - 30;

// Модульная сетка

$grid-columns:                12;
$grid-gutter-width:           rem(30);

// Разное
$default-transition: all 0.2s linear;
