mixin whatwedo()

  +b('whatwedo', {}, 'section')
    +e('title', {}, 'h2') WHAT WE DO
    +e('text', {}, 'p') Lorem ipsum dolor sit amet. Proin gravida nibh vel velit auctor aliquet.
    +e('list', {}, 'ul')
      +e('item', {}, 'li')
        +e('container', {}, 'div')
          +svg('camera', '87', '74')
        +e('item-title', {}, 'h3') Lorem Ipsum1
        +e('item-text', {}, 'p') This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        +e('btn btn', 'whatwedo', 'a')(href='#') Learn more
      +e('item', {}, 'li')
        +e('container', {}, 'div')
          +svg('time', '87', '74')
        +e('item-title', {}, 'h3') Lorem Ipsum2
        +e('item-text', {}, 'p') This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        +e('btn btn', 'whatwedo', 'a')(href='#') Learn more
      +e('item', {}, 'li')
        +e('container', {}, 'div')
          +svg('bag', '87', '74')
        +e('item-title', {}, 'h3') Lorem Ipsum3
        +e('item-text', {}, 'p') This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,
        +e('btn btn', 'whatwedo', 'a')(href='#') Learn more
