-
  var clients = [
    {
      "name": "google" 
    },
    {
      "name": "yahoo" 
    },
    {
      "name": "msft" 
    },
    {
      "name": "intel" 
    },
    {
      "name": "qualcomm" 
    },
    {
      "name": "cisco" 
    },
    {
      "name": "apple" 
    },
    {
      "name": "asus" 
    }
  ];
